body{
    background-color: rgb(212, 211, 211);
}

.sectionIndex{
    display: block;
    padding: 20px;
}

#menuTitle{
    display: none;
    visibility: hidden;
}

.wrapper4Index {
    display: grid;
    border: 4px solid black;
    border-radius: 4px;
    border-color: black;
    box-sizing: border-box;
    background-color: #3d3c3c;
}

.articles{
    display: block;
    padding: 10px;
    text-align: center;
}

#menuIts{
    display: block;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Calibri, sans-serif;/*Шрифт*/
    font-size: 30px;/*размер букв*/
    color:black;/*Задать цвет*/
  }

.backgroundIndex{
    background-image: url("../fig/NH.jpg");
    padding-top: 20%;
    padding-bottom: 20%;
    margin:0;
    background-size: 100%;
    color: white;
    text-align: center;
}

.indexP{
    font-family: Calibri, sans-serif;
    margin: 10px 10px;
    text-align: center;
    font-size: 20px;
    color:blueviolet;
}

.template-welcome{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


#artOpinions{
    display: block;
    text-align: center;
}

#menuIts{
    display: block;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Calibri, sans-serif;/*Шрифт*/
    font-size: 30px;/*размер букв*/
    color:black;/*Задать цвет*/
}

#form4Index{
    display: block;
    padding: 0.3rem;
    padding-bottom: 1em;
    margin-top: 0em;
    margin-bottom: 1rem;
    text-align: center;
}

/*TODO*/
label{
    vertical-align: top;
    font: 1rem 'Fira Sans', sans-serif;
    display: inline-block;
    min-width: 4em;
    margin-bottom: 5px;
    cursor: default;
}
/*TODO*/
textarea {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
/*TODO*/
input{
    display: inline-block;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: center; 
    text-indent: 0px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[list]
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 8px 4px;
    cursor: pointer;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

.checkboxforIndex{
    text-align: left;
    margin-left: 45%;
}

script{
    display: none;
}

.opinions4Index{
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    color:black;
}

.url{
    width: 100px;
    height: 100px;
}
input:required {
    border: 2px solid red;
}
textarea:required{
    border: 2px solid red;
}

label.required:after
{
    color: red;
    content: "   (required)";
    font-size: 11px;
}

#googleSignIn{
    display: flex;
    justify-content: center;
}

#userStatus{
    display: flex;
    justify-content: center;
}

#menuTitle{
    display: none;
    visibility: hidden;
  }

#newID{
    text-align: center;
}

.hiddenElm {display:none;}


.showElm {display:block;}